@charset="utf-8";

.cover {
	background: url(img/bg2.jpg);
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 16rem;
    padding-top: 16rem;
    height: auto;
}
.navbar-expand-lg {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: black;
}
.navbar {
  background-color: black;
  position: fixed;
  z-index: 10;
  width: 100%;
}
h1 , .container h2 , .show-case h1 {
	font-family: Century;
}
.container h2{
	font-size: 25px;
	
}
.cover h4 , .container p , .show-case p {
	font-family: serif;
}
h3 {
	font-size: 40px;
}
p {
	font-size: 20px;
	color: red;
}
.container img {
	width: 50%;
}
.show-case li {
	list-style-type: none;
}
.skill {
	background: url(img/bg-9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
 }
.motto {
	background-color: rgba(0,36,59,1);
	width: 100%;
}
.plofile {
	background: url(img/bg-3.jpg);
	background-size: cover;
   background-repeat: no-repeat;
    background-attachment: fixed;
}
.motto-second {
	background-color: rgba(0,36,59,1);
	width: 100%;
}
.motto-second img {
	width: 100%;
}
.motto-third {
	background-color: rgba(0,36,59,1);
	width: 100%;
}
.bg-img {
	background: url(img/bg-15.jpg);
	background-size: cover;
}
.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}
body {
  margin: 0;
  padding: 0;
  
}


#contact {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,36,59,1);
  overflow: hidden;
  padding-bottom: 200px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 300 60px 'Oswald', sans-serif;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}
#faq-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

}
.show-case p{
  font-size: 15px;
}

.faq-list-item {
  margin:10px;
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
  text-align: left;
}

.faq-list-item h3 {
  font-size: 14px;
  text-align: center;
}

.faq-list-item span {
  position:absolute;
  top:0;
  right:5px;
  color:#ccc;
  font-size:13px;
}

.answer {
  font-size: 12px;
  padding: 5px 0px;
  text-align: center;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #111;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.8); ;
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
    #contact {
        height: 1000px;
    }
  .section-header {
    font-size: 25px;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: auto; 
    }
  .section-header{
    font-size: 30px;
  }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  
  .name, .email, textarea {
    width: 280px;
  } 
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

.faq-list-item  {
  width: 60%;
  margin: 0 auto;

 }
 
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
.contact-list h5 {
	font-size: 20px;
}
.navbar-nav a:hover {
    color: red;
 
}
.navbar-expand-lg {
	background-color: black;
}
